
{% extends "index.html" %}

{% block content %}
<section class="relative py-20 px-10" style="background-image: url('{{featured_movie.image_cover.url}}'); background-size: cover; background-position: center;">
  <div>
      <h1 style="color: black;" class="text-5xl mb-5">{{featured_movie.title}}</h1>
      <p style="color: black;" class="mb-5">{{featured_movie.description}}</p>
      <div class="flex space-x-4">
          <a href="/movie/{{featured_movie.uu_id}}">
              <button class="bg-red-600 text-white p-2 px-5 rounded hover:bg-red-500">Play</button>
          </a>
      </div>
  </div>
</section>
<section class="py-10 px-5">

  <h2 class="text-xl mb-5">Popular on Netflix</h2>
  <div class="flex space-x-5 overflow-x-auto">

      {% for movie in movies %}
      <div class="w-40 h-64 flex-shrink-0 film-card"
          onclick="showModal(this)"
          data-title="{{ movie.title }}"
          data-description="{{ movie.description }}"
          data-release-date="{{ movie.release_date|date:'Y' }}"
          data-genre="{{ movie.get_genre_display }}"
          data-length="{{ movie.length }}"
          data-image-card-url="{{ movie.image_card.url }}"
          data-image-cover-url="{{ movie.image_cover.url }}"
          data-video-url="/movie/{{ movie.uu_id }}"
          style="background-image: url('{{movie.image_card.url}}'); background-size: cover; background-position: center;">
      </div>
      {% endfor %}
</section>
{% endblock %}
